header{
    margin:100px 10px 0 10px;
}
img {
    height: 70px;
    width:70px;
}
ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    float: right;
}
li {
    padding:10px;
    margin:0 5px;
    border: solid 1px black;
    border-radius: 100px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:red;
}